@charset "UTF-8";

body,
html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  /* 不要な横幅の隙間を非表示 */
}

.container {
  max-width: 100%;
  height: 100%;
}

.row {
  margin-right: 0;
}

.item_confirm {
  padding: 36px 10px 8px 34px;
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 0.02em;
}

.cart-info {
  margin-left: 18px;
  width: 64%;
}

.table th,
.table td {
  font-weight: normal;
  border: none;
}

.table th {
  background-color: #1eaa39;
  color: white;
  font-size: 18px;
}

.not-item {
  color: red;
  font-size: 20px;
  font-weight: 550;
  padding-top: 25px;
  text-align: center;
}

.item_total_list {
  display: flex;
  padding: 10px 30px 0 90px;
 
  background-color: #fafafa;
}

.image img {
  width: 140px;
  height: auto;
}

.qty-select {
  border-radius: 3px; 
}


.cart-list {
  border: 1px solid #333;
  padding: 25px 23px;
  margin-left: 46px;
  text-align: center;
  width: 30%;
  height: 22.6em;

  /* footer */
  margin-bottom: 16.8em;
}

.cart-list p {
  line-height: 2;
}

.cart-list th,
td {
  font-weight: normal;
  line-height: 2.7;
}

.cart-list td {
  padding-left: 50px;
}

.cart-list th {
  font-size: 18px;
}

.cart-price th,
td {
  font-size: 20px;
}

.cart-qty {
  font-size: 20px;
}

.submit {
  border: none;
  font-size: 18px;
  margin-top: 30px;
  margin-right: 130px;
  background-color: #1eaa39;
  color: #fff;
  font-weight: 540;
  width: 100%;
  height: 55px;
  transition: 0.3s;
  border-radius: 5px;
  letter-spacing: 0.05rem;
  cursor: pointer;
}

.submit:hover {
  background-color: #309737;
}

.list_back {
  /* display: inline-block; */
  /* 幅とパディングの設定を可能にする */
  display: block;
  /* リンク全体をブロック要素にする */
  padding: 15px;
  margin-top: 30px;
  margin-right: 8em;
  width: 100%;
  height: 55px;
  border: 1px solid #1eaa39;
  border-radius: 5px;
}

.list_back a {
  font-size: 18px;
  margin-top: -6px;
  display: block;
  /* ボタンのクリックエリア拡大 */
  color: #1eaa39;
}

.list_back:hover {
  opacity: 0.8;
}


@media (max-width: 1200px) {
  
  .item_confirm {
    font-size: 19px;
  }

  .table th {
    font-size: 16px;
    line-height: 1.2;
  }

  .not-item {
    font-size: 19px;
  }

  .cart-info {
    margin-left: 12px;
    width: 60%;
  }

  .cart-list {
    padding: 23px 23px;
  
    margin-left: 50px;
    width: 32%;
   
    height: 18em;
  }


  .cart-list th {
    font-size: 17px;
    padding-left: 5px;
  }

  .cart-list td {
    font-size: 18px;
  }

  .cart-qty {
    font-size: 17px;
  }

  .name {
    font-size: 17px;
  }

  .image img {
    width: 105px;
    height: auto;
  }

  .price {
    font-size: 18px;
  }

  .delete {
    font-size: 17px;
  }

  .qty-select {
    font-size: 16px; 
   
    border-radius: 3px; 
   
  }

  .item-qty {
    font-size: 15px;
  }

  .submit {    
    font-size: 16px;
    margin-top: 17px; 
    /* width: 375px; */
   
    height: 45px;
  }

  .list_back {
    padding: 12px;
    margin-top: 30px;
    margin-right: 8em;
    height: 45px;
   
  }
  
  .list_back a {
    font-size: 15px;

    margin-top: -7px;
    display: block;
  }
}

@media (max-width: 992px) {

  .item_confirm {
    font-size: 18px;
  }
  
  .table th {
    font-size: 15px;
    line-height: 1;
  }
  
  .not-item {
    font-size: 18px;
  }

  .cart-info {
    margin-left: 15px;
    width: 60%;
  }

  .cart-list {
    padding: 18px 23px;
  
    margin-left: 42px;
    width: 32%;

    height: 16.8em;
  }

.cart-list th {
  font-size: 16px;
  }

  .cart-list td {
    font-size: 17px;
    padding-left: 18px;
  }

  .cart-qty {
    font-size: 17px;
  }

  .name {
    font-size: 15px;
  }

  .image img {
    width: 85px;
    height: auto;
  }

  .price {
    font-size: 16px;
  }

  .delete {
    font-size: 14px;
  }

  .qty-select {
 
    font-size: 14px; 

    border-radius: 3px; 
   
  }

  .item-qty {
    font-size: 15px;
  }

  .submit {    
    font-size: 15px;
    margin-top: 17px; 
    height: 40px; 
  }

  .list_back {
    padding: 12px;
    margin-top: 22px;
    margin-right: 8em;
    height: 40px;  
  }
  
  .list_back a {
    font-size: 15px;

    margin-top: -7px;
  }
}

@media (max-width: 768px) {

  .item_confirm {
    font-size: 17px;
  }
  
  .cart-info {
    margin-left: 25px;
    width: 92%;
  }

  .not-item {
    font-size: 17px;
    padding-top: 10px;
  }

  .cart-list {
    padding: 23px 23px;
    margin-left: 45px;
    width: 85%;
    height: 17.8em;
    margin-top: 30px;
    
    /* footer */
    margin-bottom: 5em;
  }

  .item-total {
    width: 67%;
    text-align: right; 
  }

  .cart-list th {  
   font-size: 17px;
   padding-left: 4em;

  }

  .cart-list td {
    font-size: 17px;
  }

  .image img {
    width: 100px;
    height: auto;
  }

  .submit {    
    font-size: 15px;
    margin-top: 17px; 
    height: 45px; 
  }

  .list_back {
    padding: 15px;
    margin-top: 22px;
    margin-right: 8em;
    height: 45px;  
  }

}

@media (max-width: 576px) {

  .cart-list {
    padding: 25px 23px;   
    margin-left: 46px;
    margin-top: 30px;

    /* footer */
    margin-bottom: 5em;
  }
  
 .not-item {
    font-size: 16px;
    padding-top: 10px;
    margin-top: 10px;
 }

  .image img {
    width: 90px;
    height: auto;
  }
}
