@charset "UTF-8";

.Entire {
  width: 100%; 
  max-width: 850px; 
  margin: 0 25px;
}


.border {
  background-color: #f8f9fa; 
  line-height: 2;
}

.contact h3 {
   font-size: 26px;
   text-align: center;
}

.contact_name {
 display: block;
}

.contact_name_data {
  margin-left: 80px;
}

.contact_family {
  width: 45%;
  margin: 0 8px 0 0;
  padding-left: 5px;
}

.contact_family input[type="text"] {
  font-size: 28px;
  margin-left: 20px;
}

.contact_first {
  width: 45%;
  padding-left: 5px;
}

.contact_email {
  display: block;
}

.contact_email_data {
  margin-left: 80px;
}

.contact_email_form {
  padding-left: 5px;
  width: 91.5%;
}

.contacts {
  display: block;
}

.contact_data {
  margin-left: 80px;
}

.contact_form {
  padding: 3px 0 0 8px;
  width: 91.5%;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus  {
  border: solid 1px #4caf50;
  background-color: #e8f5e9; 
  outline: none; 
  /* デフォルトの青枠線を削除 */
}

.btn-custom {
  margin-top: 20px;
  margin-left: 22px;
  padding: 8px;
  width: 180px;
  height: 50px;
}

.color {
  color: red; 
  font-size: 16px;
}

footer {
  padding: 50px;
  align-items: center;
  text-align: center;
  background-color: #1eaa39;
  margin-top: 4.6em;
}

footer p {
  font-size: 26px;
}

@media (max-width: 1200px) {
  .Entire {
    width: 100%;
    max-width: 690px; 
    margin: 0 12px;
  }

  .contact h3 {
    font-size: 24px;
    margin: 6px 0;
  }

  .contact_name_data {
    margin-left: 50px;
  }

  .contact_family {
    width: 45%; 
  }

  .contact_first {
    width: 45%; 

    padding-left: 5px;
  }

  .contact_email_data {
    margin-left: 50px;
  }

  .contact_email_form {
    width: 92%;
  }

  .contact_data {
    margin-left: 50px;
  }

  .contact_form {
    width: 92%;
    height: 160px;
  }

  .btn-custom {
    margin-top: 20px;
    margin-left: 30px;
    padding: 12px;
    width: 180px;
    height: 48px;
  }
}

@media (max-width: 992px) {
  .Entire {
    width: 100%; 
    max-width: 545px; 
    margin: 0 12px;
  }

  .contact h3 {
    font-size: 22px;
    padding-left: 12px;
    margin: 5px 0;
 }

 .contact_name_data {
  margin-left: 30px;
  margin-top: -5px;
}

.contact_name {
  font-size: 15px;
}

 .contact_family {
  width: 45%; 
  height: 30px;
  margin: 0 8px 0 0;
  padding-left: 5px;
}

.contact_first {
  width: 45%; 
  height: 30px;
  padding-left: 5px;
}

.contact_email_data {
  margin-left: 30px;
}

.contact_email {
  font-size: 15px;
}

.contact_email_form {
  height: 32px;
  width: 92%;
}

.contact_data {
  margin-left: 30px;
}

.contacts {
  font-size: 15px;
}

.contact_form {
  width: 92%;
  height: 130px;
}

.btn-custom {
  padding: 5px;
  width: 165px;
  height: 42px;
  margin-top: 14px;
}

}

@media (max-width: 768px) {

  .Entire {      
      width: calc(100% - 20px); 
      max-width: 700px; 
      margin: 10px auto; 
  }

  .contact h3 {
    font-size: 22px;
    padding-right: 20px;
    margin: 5px 0;
 }

  .contact_family {

    height: 33px;
    margin: 0 8px 0 0;
    padding-left: 5px;
  }
  
  .contact_first {

    height: 33px;
    padding-left: 5px;
  }

  .contact_email_data {
    margin-left: 30px;
  }
  
  .contact_email_form {
  }
  
  .contact_data {
    margin-left: 30px;
  }
  
  .contact_form {
    width: 92%;
    height: 150px;
  }

  .btn-custom {
    width: 165px;
    height: 45px;
    margin-top: 14px;
    margin-right: 8px;
  }
}

@media (max-width: 576px) {  

  .contact h3 {
    font-size: 21px;
    padding-left: 12px;
    margin: 6px 0;
 }

  .contact_name {
    font-size: 14px;
  }

  .contact_email {
    font-size: 14px;
  }

  .contacts {
    font-size: 14px;
  }

  .contact_family {
 
    height: 28px;
 
  }
  
  .contact_first {
 
    height: 28px;
    
  }

  .contact_email_form {
    width: 94.2%;
    height: 30px;
  }

  .contact_form {
    width: 94.2%;
    height: 135px;
  }

  .btn-custom {
    padding: 8px;
    width: 155px;
    height: 42px;
  }

}