@charset "UTF-8";

.Entire {
  padding-top: 3px;
  margin-bottom: 2.8em;
}

.contact h3 {
   font-size: 26px;
   margin: 8px 0;
}

.contact_name {
 display: block;
}

.contact_name_data {
  margin-left: 80px;
}

.contact_family {
  width: 320px; 
  margin: 0 8px 0 0;
  padding-left: 5px;
}

.contact_family input[type="text"] {
  font-size: 28px;
  margin-left: 20px;
}

.contact_first {
  width: 320px; 
  padding-left: 5px;
}

.contact_email {
  display: block;
}

.contact_email_data {
  margin-left: 80px;
}

.contact_email_form {
  padding-left: 5px;
  width: 652.7px;
}

.contacts {
  display: block;
}

.contact_data {
  margin-left: 80px;
}

.contact_form {
  padding: 3px 0 0 8px;

  width: 652.7px;
}

input[type="text"]:focus,
input[type="email"]:focus,
textarea:focus  {
  border: solid 1px #4caf50;
  background-color: #e8f5e9; 
  outline: none; 
  /* デフォルトの青枠線を削除 */
}


.border {
  background-color: #f8f9fa; 
  line-height: 2;
  max-width: 980px;
}

.btn-custom {
  margin-top: 20px;
  padding: 15px;
  width: 180px;
  height: 50px;
}

.color {
  color: red; 
  font-size: 16px;
}

footer {
  padding: 50px;
  align-items: center;
  text-align: center;
  background-color: #1eaa39;
  margin-top: 4.6em;
}

footer p {
  font-size: 26px;
}