@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

header {
  max-width: 100%;
  /* width: 100%;
    max-width: 1200px;  */
    /* 必要に応じて制限 */
   
}

.navbar {
  padding: 23px 15px 17px 55px;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 600;
  margin-left: -20px;
  margin-top: -2px;
}

/* ドロップダウン、マイアカウント */
.nav-link .dropdown-toggle .my-dropdown-toggle .account{
  font-size: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

/* ドロップダウンメニュー */
.dropdown-menu .dropdown-item {
  line-height: 1.8;
 
}

.nav-item.dropdown .dropdown-menu .dropdown-item:hover {
  background-color: #008000;
  color: white;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  /* 矢印のサイズを調整 */
  height: 60px;
  width: 60px;
}

.carousel-control-prev,
.carousel-control-next {
  /* 矢印左右の幅 */
  width: auto;
  top: 0;
  bottom: 0;
  background: none;
}

.carousel-control-prev {
  left: 10px;
}

.carousel-control-next {
  right: 10px;
}

/* ボタン */
.search-form .btn {
  padding: 2.5px 10px 5px 10px;
  font-size: 15px;
  width: 75px;
  height: 38px;
}

/* 検索ボックス */
.search-form .form-control {
  font-size: 15px;
  height: 35px;
  width: 260px;
}

.nav-item .greeting {
  margin-left: 12px;
  font-weight: 600;
}

.nav-link.click {
  font-size: 18px;
  font-weight: 600;
}

.nav-item .account {
  font-weight: 600;
}

.nav-item .cart {
  margin-right: 20px;
}

.form-control {
  border-color: #acacac;
  border-width: 1px;
}

/* 検索入力欄がフォーカスされた時 */
.form-control:focus {
  border: solid 2px #4caf50; 
  background-color: #e8f5e9; 
  border-width: 1px;
  /* 枠線の太さ */
  outline: none;
  /* ブラウザが自動的に付けるアウトラインを削除 */
  box-shadow: none;
  /* ブラウザーがつける影削除 */
}

.login-out {
  font-size: 18px;
}

.navbar-toggler:focus,
.navbar-toggler:active { 
  box-shadow: none; 
 } 

.navbar-toggler {
  border: 1px solid #222; 
  margin-right: 15px;
  margin-top: 2px;
}

@media (max-width: 1200px) {

  .navbar .navbar-brand {
    font-size: 30px;
    margin-left: -30px;
  }

  .search-form .btn {
    padding: 2.5px 10px 5px 10px;
    margin-right: -5px;
    font-size: 13px;
    width: 60px;
    height: 33px;
  }

  .search-form .form-control {
    height: 33px;
    width: 220px;
  }

  .search-form .d-md-none {
    margin-right: 12px;
  }

  .nav-item .greeting {
    font-size: 16px;
    margin-left: 6px;
  }

  .nav-link.click {
    font-size: 17px;
    font-weight: 600;
  }

  .nav-item .account {
      font-size: 15px;
  }
}

@media (max-width: 992px) {
  .navbar {
    padding: 20px 10px 16px 40px;
  }

  .navbar .navbar-brand {
    font-size: 28px;
    
    margin-top: -3px;
  }

  .search-form .form-control {
    font-size: 14px;
    height: 30px;
    width: 195px;
  }

  .nav-item .greeting {
    font-size: 15px;
    display: none;
  }

  .nav-link.click {
    font-size: 16px;
  }
  .nav-item .account {
      font-size: 15px;
  }

}

/* list */
@media (max-width: 767.98px) {

  .list-page .navbar-toggler {
      /* display: block; 
      position: fixed; */
      top: 82px;
      right: 10px;
      /* z-index: 10000; */
  } 

  .list-page .navbar-collapse.show .nav-link {
    transform: translateY(100px);
  }
 

  .nav-custom {
    display: block;
    text-align: center;
    transition: all 0.3s ease;  
  }
  
  .nav-custom:hover {
    /* outline: 2px solid rgba(0, 123, 255, 0.5);  */
    background-color: rgba(0, 123, 255, 0.1); 
    width: 295px;
  }

  .logout-in {
    text-align: center;
  }

  .logout-in:hover {
    background-color: rgba(0, 123, 255, 0.1); 
    width: 295px;
  }

  .nav-link.click {
    font-size: 17px;
    font-weight: 500;
  }
}

@media (max-width: 576px){
  .list-page .navbar-toggler {
    top: 78px;
    right: 10px;
  } 

  .list-page .navbar-collapse.show .nav-link {
    /* font-size: 16px;  */
    transform: translateY(100px);
    padding-top: 20px;
    padding: 10px 0px 20px 0; 
  }
}

/* 全ファイル */
@media (max-width: 767.98px) {
  
  /* ハンバーガー */
  .navbar-toggler {
    margin-top: -20px;
    padding: 2px 8px 2px 8px;
  }

  .navbar-toggler {
    /* display: block; 
    position: fixed; */
    /* top: 42px;
    right: 10px; */
    z-index: 10000;
    border: none;
  }

  /* 横から開く */
  .navbar-collapse {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100%;
    width: 40%;
    background-color: rgba(255, 255, 255, 0.8);
    z-index: 2;
    transition: right 0.4s ease;
  }

  .navbar-collapse.show {
    right: 0; 
    /* メニュー開いた時の位置 */
  }

  .navbar-collapse.show .nav-link {
    /* ハンバーガー全体 */
    font-size: 15px;
    transform: translateY(60px);
    padding-top: 20px;
    padding: 12px 0px 20px 0; 
  }
  
  .navbar-toggler-icon {
    transform: translate(18px, 9px);
    width: 35px; 
    /* 線の大きさ */
    height: 42px; 
    /* 縦幅の位置 */
  }

  .navbar {
    padding: 24px 10px 20px 40px;
  }

  .navbar .navbar-brand {
    font-size: 26px; 
  }

  
  .search-form .form-control {
    width: 220px;
    height: 30px;
  }

  .form-control {
    font-size: 15px;
  }

  .search-form.d-md-none {
    margin-right: 0.8em; 
  }

  .cart .d-md-none {
    /* margin-right: 6em; */
  }
  
  .nav-item .greeting {
    font-size: 16px;
    display: block;
  }
  
  .nav-custom {
    font-size: 15px;
  }

  .logout-in {
    font-size: 14px;
  }

  .nav-item.dropdown .dropdown-menu {
    transform: translateY(30px);
  }

  .cart {
    transform: translate(10px, -1px); 
  }
}


@media (min-width: 768px) {
  .navbar-toggler {
    display: none; 
  }
}

@media (max-width: 576px){

  .navbar-collapse.show .nav-link {
    font-size: 14px; 
    /* transform: translateY(60px); */
    padding: 10px 0px 20px 0; 
  }

  .navbar {
    padding: 25px 0 17px 32px;
  }

  .navbar-toggler {
    margin-right: 5px;
    margin-top: -18px;
    padding: 2px 8px 2px 8px;
  }

  .navbar .navbar-brand {
    font-size: 22px;
    /* margin-left: -35px; */
  }

  .navbar-toggler-icon {
    transform: translate(10px, 8px);
    width: 32px; 
    /* 線の大きさ */
    height: 42px; 
    /* 縦幅の位置 */
  }

  /* .search-form .form-control {
    width: 120px;
    height: 28px;
    font-size: 12px;
} */

  .nav-custom {
    font-size: 13px;
  }
  
  .nav-custom:hover {
    width: 208px;
  }

  .logout-in {
    font-size: 8px;
    text-align: center;
  }

  .logout-in:hover {
    width: 208px;
  }

  .search-form.d-md-none {
    margin-right: 0.5em; 
  }
  
  .search-form .form-control {
    transform: translateX(10px);
    width: 160px;
    height: 28px;
    font-size: 12px;
  }

  .cart.d-md-none {
    margin-right: 1.1em;
  }
}

@media (max-width: 425px) {

  .navbar {
    padding: 18px 0 12px 28px;
  }

  /* .navbar-toggler {
    margin-right: 5px;
    margin-top: -18px;
    padding: 2px 8px 2px 8px;
  } */

  .navbar .navbar-brand {
    font-size: 20px;
    /* margin-left: -35px; */
  }

  .navbar-toggler-icon {
    transform: translate(10px, 8px);
    width: 30px;
    /* height: 42px; */
  }

  /* .nav-link.cart .bi-cart {
    font-size: 16px; 
  }

   .nav-link.cart .badge {
    width: 20px;
    height: 20px;
    font-size: 10px; 
    line-height: 20px; /* バッジ内のテキストを中央に配置 */
     
  /* } */


  /* ハンバーガ検索 */
  .search-form .form-control {
    display: none;
  }
}

@media (max-width: 424px) {
  .search-form .form-control {
    /* display: block !important; */
  }
}
/* @media (max-width: 424px) {
  .search-form  {
  display: block;
}
} */


/* 

@media (max-width: 524px) {

.navbar {
  width: 525px;
}
  

} */


