@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.navbar {
  padding: 20px 35px 20px 35px;
}

.navbar .navbar-brand {
  font-size: 32px;
  font-weight: 600;
  margin-top: -5px;
}

.navbar-nav {
  display: flex !important; 
  /* 強制的にフレックスボックスを適用 */
  flex-direction: row; 
  /* 横並びにする */
}

.nav-item {
  font-size: 20px;
  padding-left: 25px;
  font-weight: 540;
}

/* 濃い色になるのはactiveクラスが指定してるから、デフォルトの上書きする必要がある */
.navbar-nav .nav-link.active {
  color:  #222; 
  font-weight: normal;
}

@media (max-width: 992px) {

  .navbar {
    padding: 18px 22px 18px 20px;
  }

  .navbar .navbar-brand {
    font-size: 31px;
  }


  .nav-item {
    font-size: 20px;
    padding-left: 25px;
  }
}

@media (max-width: 768px) {
  .navbar .navbar-brand {
    font-size: 28px;
    /* transform:translateY(2px); */
  }

  .navbar {
    padding: 15px 15px 10px 12px;
  }

  .nav-item {
    font-size: 18px;
    padding-left: 15px;
  }
  
}

@media (max-width: 575px) {
  .navbar .navbar-brand {
    font-size: 22px;
  }

  .navbar {
    padding: 14px 6px 8px 10px;
  }

  .nav-item {
    font-size: 14px;
    padding-left: 12px;
  }
}

@media (max-width: 425px) {
  .navbar .navbar-brand {
    font-size: 20px;
  }

  .navbar {
    padding: 14px 4px 8px 8px;
  }

  .nav-item {
    font-size: 13px;
    padding-left: 12px;
  }
}

@media (max-width: 375px) {
  .navbar .navbar-brand {
    font-size: 18px;
  }

  .navbar {
    padding: 14px 3px 8px 8px;
  }

  .nav-item {
    font-size: 12px;
    padding-left: 12px;
  }
}

@media (max-width: 320px) {
  .navbar .navbar-brand {
    font-size: 17px;
  }

  .navbar {
    padding: 12px 0 6px 4px;
  }

  .nav-item {
    font-size: 11px;
    padding-left: 12px;
  }
}


