@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 85%;
  height: 580px;
  max-width: 800px; 
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 4px #a3a3a3;
}

.login_inner {
  margin: 45px 0px;
  height: 20%;
  line-height: 2.6;
  padding: 12px 20px;
 
}

.login {
  font-size: 15px;
  margin-top: 18px;
  font-weight: 600;
}


.email p {
  display: block;
  margin-bottom: -5px;
}

input[type="email"],
input[type="password"] {
  font-size: 17px;
}

/* 擬似クラス */
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #e8f0fe; 
  /* フォーカス時の背景色 */
  border: solid 2px #66afe9; 
  /* フォーカス時のボーダーの色 */
  outline: none; 
  /* デフォルトのアウトラインを削除  */
  border-radius: 3px;
}

.password p {
  /* エラー文字とlogin_btnの上下幅 */
  margin-bottom: -15px;
}

.email label,
.password label {
  display: block;
}

.email input,
.password input {
  width: 35%;
  height: 40px;
  padding: 10px;
  outline: none;
}

.login_btn {
  font-size: 18px;
  margin-top: 30px;
  height: 50px;
  width: 35%;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #00bfff;
  letter-spacing: 0.03em;
}

.login_btn:hover {
  background-color: #1e90ff;
  transition: all 0.3s;
}

.pass_forget {
  line-height: 4;
  margin-bottom: 5px;
}

.pass_forget a {
  color: #1e90ff;
}

.pass_forget a:hover {
  text-decoration: underline;
}

.sign_up {
  margin: 0 auto;
  height: 50px;
  width: 35%;
  background-color: #ffa500;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 0.05em;
  transition: all 0.3s;
}

.sign_up a {
  color: #fff;
  font-size: 18px;
}

.sign_up:hover {
  background-color: #ff8c00;
}

/* エラー */
.error_email {
  font-size: 17px;

  color: #f00;
}

.error_password {
  font-size: 18px;
  color: #f00;
}

.error_login {
  font-size: 17px;
  color: #f00; 
  font-weight: 599;
}

@media (max-width: 1200px) {
  .container {
    height: 565px;
  } 

  .error_email {
    font-size: 16px;
  }

  .error_password {
    font-size: 17px;
  }

  .error_login {
    font-size: 16px;
  }
}

@media (max-width: 992px) {
  .login h1 {
    font-size: 2.4em;
  }

  .container {
    height: 560px;
  }
  
  .email input,
  .password input {
    width: 240px;
  }

  .login_btn {
    width: 240px;
  }

  .sign_up {
    width: 240px;
  }
}

@media (max-width: 768px) {
  .login h1 {
    font-size: 2.3em;
  }

  .container {
   height: 550px;
  }
  
  .error_email {
    font-size: 15px;
  }

  .error_password {
    font-size: 16px;
  }

  .error_login {
    font-size: 15px;
  }
}

@media (max-width: 576px) {
  
  .container {
    width: 85%;
    height: 545px;
  }

  .login h1 {
    font-size: 1.8em;
 }

  label {
    font-size: 16px;
  }

  .email input,
  .password input {
    width: 230px;
    height: 38px;
  }

  .login_btn {
    font-size: 17px;
    width: 230px;
    height: 45px;
  }

  .sign_up {
    font-size: 17px;
    width: 230px;
    height: 45px;
  }

  .pass_forget{
    font-size: 15px;
  }

  .error_email {
    font-size: 14px;
  }

  .error_password {
    font-size: 15px;
  }

  .error_login {
    font-size: 14px;
  }

}

@media (max-width: 425px) {

  .container {
    height: 520px;
  }

  .login h1 {
    font-size: 1.8em;
 }

  label {
    font-size: 15px;
  } 

  .email input,
  .password input {
    width: 210px;
    height: 35px;
  }

  .login_btn {
    font-size: 17px;
    width: 210px;
    height: 45px;
  }

  .sign_up {
    font-size: 17px;
    width: 210px;
    height: 45px;
  }

  .pass_forget{
    font-size: 14px;
  }

  .error_email {
    font-size: 13px;
  }

  .error_password {
    font-size: 14px;
  }

  .error_login {
    font-size: 13px;
  }
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {

  .container {
    height: 510px;
  }

  .login h1 {
    font-size: 1.6em;
 }

  label {
    font-size: 14px;
  } 

  .email input,
  .password input {
    width: 192px;
    height: 32px;
  }

  .login_btn {
    font-size: 15px;
    width: 192px;
    height: 43px;
  }

  .sign_up {
    width: 192px;
    height: 43px;
  }

  .sign_up a {
    font-size: 15px;
  }

  .pass_forget{
    font-size: 13px;
  }

  .error_email {
    font-size: 13px;
  }

  .error_password {
    font-size: 14px;
  }

  .error_login {
    font-size: 13px;
  }
}



