@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 0;
}

.container {
  margin: 0 auto;
  margin-bottom: 50px;
  width: 85%;
  height: 580px;
  max-width: 800px; 
  text-align: center;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 2px 4px #a3a3a3;
}

.login_inner {
  margin: 45px 0px;
  height: 20%;
  line-height: 2.6;
  padding: 12px 20px;
 
}

.login {
  font-size: 15px;
  margin-top: 18px;
  font-weight: 600;
}


.email p {
  font-size: 17px;
  display: block;
  margin-bottom: -5px;
}

input[type="email"],
input[type="password"] {
  font-size: 17px;
}

/* 擬似クラス */
input[type="email"]:focus,
input[type="password"]:focus {
  background-color: #e8f0fe; 
  /* フォーカス時の背景色 */
  border: solid 2px #66afe9; 
  /* フォーカス時のボーダーの色 */
  outline: none; 
  /* デフォルトのアウトラインを削除  */
  border-radius: 3px;
}

.password p {
  /* エラー文字とlogin_btnの上下幅 */
  margin-bottom: -15px;
}

.email label,
.password label {
  display: block;
}

.email input,
.password input {
  width: 35%;
  height: 40px;
  padding: 10px;
  outline: none;
}

.login_btn {
  font-size: 18px;
  margin-top: 30px;
  height: 50px;
  width: 35%;
  border: none;
  border-radius: 3px;
  color: #fff;
  background-color: #00bfff;
  letter-spacing: 0.03em;
}

.login_btn:hover {
  background-color: #1e90ff;
  transition: all 0.3s;
}

.pass_forget {
  line-height: 4;
  margin-bottom: 5px;
}

.pass_forget a {
  color: #1e90ff;
}

.pass_forget a:hover {
  text-decoration: underline;
}

.sign_up {
  margin: 0 auto;
  height: 50px;
  width: 35%;
  background-color: #ffa500;
  border-radius: 3px;
  text-align: center;
  letter-spacing: 0.05em;
  transition: all 0.3s;
}

.sign_up a {
  color: #fff;
  font-size: 18px;
}

.sign_up:hover {
  background-color: #ff8c00;
}


@media (min-width: 1200px) {
  
}

@media (max-width: 992px) {
  .login h1 {
    font-size: 2.4em;
  }

.email input,
.password input {
  width: 240px;
}

.login_btn {
  width: 240px;
}

.sign_up {
  width: 240px;
}

}

@media (max-width: 576px) {
  .login h1 {
    font-size: 2.1em;
}
}