@charset "UTF-8";

/* reset_form */
/* p {
  color: #f00;
  padding-top: 4px;
  font-size: 17px;
} */

.pass-reset {
  padding: 29px 45px;
  margin: 30px 32px;
  background-color: #f5f5f5;
  width: 60%;
}

.pass-reset h3 {
  font-size: 22px;
  margin-bottom: 15px;
  font-weight: 550;
}

label {
  display: block;
  font-size: 18px;
  margin-bottom: 10px;
  /* padding-left: 8px; */
  padding: 2px 10px;
}

.confirm {
  padding-left: 15px;  
  margin-bottom: 4px;
  margin-top: 6px;
}

.pass-reset input[type="password"] {
  width: 300px;
  padding-left: 3px;
  margin-top: -5px;
}

.pass-reset input[type="password"]:focus {
  background-color: #e8f0fe; 
  border: solid 2px #66afe9; 
  outline: none; 
  border-radius: 3px;
}

.pass-reset button[type="submit"] {
  border: none; 
  width: 250px;
  height: 35px;
  border: solid 1px #767676;
  margin: 15px 2px;
  border-radius: 2px;
  font-size: 17px;
  /* margin-top: -4px; */
}

.pass-reset button[type="submit"]:hover {
  background-color: #e6e6e6;
}

.error-message {
  color: red;
  font-size: 17px;
  padding-left: 5px;
  margin-top: 5px;
  /* margin-bottom: 5px; */
}

