@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
}

.red {
  color: red;
  font-size: 15px;
}

.form_section {
  width: 80%;
  max-width: 800px; 
  min-width: 300px;
  margin: 0 auto;
  background-color: #fff;
}

.form_section h1 {
  font-size: 28px;
  padding: 38px 2px 5px 8px;
  font-weight: 545;
  margin: 36px 0 20px;
  text-align: center;
  letter-spacing: 0.06em;
}

.regist_form {
  width: 100%;
  padding-left: 8px;
  line-height: 1;
}

.regist_table {
  margin: 0 auto;
}

.regist_name {
  font-size: 18px;
  width: 165px;
  padding: 8px 0 20px;
}

.sex-radio {
  width: 20px;
  height: 20px;
}

label {
  margin-left: 3px;
  font-size: 18px;
}

.regist_data {
  padding: 10px 0;
}

.regist_data select {
  max-width: 100px;
  height: 25px;
}

/* セレクトボックス間の余白 */
.regist_data > select:not(:last-child) {
  margin-right: 4px;
}

.regist_data input[type="text"] {
  padding: 8px;
  max-width: 250px;
  height: 33px;
  outline: none;
  border: solid 2px #c2c2c2;
  border-radius: 2px;
}

 /* 郵便番号 */
.regist_zip input[type="text"] {
  padding: 5px;
  width: 80px;
  height: 32px;
  border: solid 2px #c2c2c2;
  border-radius: 2px;
  outline: none;
}

.regist_address input[type="text"] {
  padding: 5px;
  width: 420px;
  height: 33px;
  border: solid 2px #c2c2c2;
  border-radius: 2px;
  outline: none;
}

input[name="address_search"] {
  font-size: 14px;
  padding: 6px 5px;
  margin-left: 2px;
  cursor: pointer;
}

.regist_email input[type="text"] {
  padding: 5px;
  max-width: 300px;
  height: 33px;
  border: solid 2px #c2c2c2;
  border-radius: 2px;
  outline: none;
}

.regist_data input[type="password"] {
  max-width: 200px;
  height: 33px;
  padding: 5px;
  border: solid 2px #c2c2c2;
  border-radius: 2px;
  outline: none;
}

.regist_data input[type="checkbox"] {
  width: 18px;
  height: 15px;
  margin: 3px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  background-color: #e8f0fe;
  border: solid 2px #66afe9;
  border-radius: 4px;
}

input[type="text"],
input[type="password"] {
  font-size: 16px;
}

.regist_confirm {
  padding: 30px 0 75px;
}

input[type="submit"] {
  max-width: 590px;
  width: 100%;
  height: 60px;
  margin: 0 auto;
  display: block;
  color: #fff;
  font-size: 21px;
  margin-top: -1px;
  background-color: #00bfff;
  border: none;
  border-radius: 3px;
  letter-spacing: 0.05em;
 
  transition: opacity 0.3s; 
}

input[type="submit"]:hover {
  /* transition: all 0.3s; */
  opacity: 1;
  background-color: #1e90ff;
}

/* error */
.input_error {
  background-color: #ffd6d6;
}

@media (max-width: 922px) {

  .form_section {
    width: 80%;
    max-width: 800px; 
    padding-left: 10px;
  }

  .form_section h1 {
    font-size: 27px;
  }

  .regist_name {
    font-size: 17px;
    width: 140px;
  }

  .regist_data input[type="text"] {
    max-width: 180px;
  }

  .regist_address input[type="text"] {
    width: 365px;
  }

  input[type="submit"] {
    max-width: 520px;
    font-size: 21px;
    margin-top: -1px;
  }
}

@media (max-width: 768px) {

  .red {
    font-size: 14px;
  }
  
  .form_section h1 {
    font-size: 25px;
  }

  .form_section {
    width: 80%;
    max-width: 800px; 
    padding-left: 10px;
   
  }

  .regist_name {
    font-size: 15px;
    width: 111px;
    display: block;
  }

  .regist_data input[type="text"] {
    padding: 4px;
    max-width: 120px;
    height: 26px;
  }

  .sex-radio {
    width: 17px;
    height: 18px;
  }

  label {
    margin-left: 3px;
    font-size: 16px;
  }

  .regist_data select {
    height: 24px;
  }

  .regist_zip input[type="text"] {
    padding: 5px;
    width: 65px;
    height: 26px;
  }

  input[name="address_search"] {
    font-size: 12px;
    padding: 5px;
    margin-left: 2px;
    width: 110px;
  }
  
  .regist_address input[type="text"] {
    padding: 5px;
    width: 255px;
    height: 30px;
  }
 
.regist_email input[type="text"] {
  padding: 5px;
  max-width: 225px;
  height: 30px;
}

.regist_tel input[type="text"] {
  display: inline-block;
  width: 100px;
  height: 32px;
}

.tel-input {
  width: 100px;
  height: 28px;
}

.regist_data input[type="password"] {
  max-width: 150px;
  height: 30px;
}

input[type="submit"] {
  max-width: 400px;  
  font-size: 20px;
  margin-top: -1px;
}  
}

@media (max-width: 575px) {
  .red {
    font-size: 13px;
  }

  .form_section {
    padding-right: 5px;
  }

  input[type="submit"] {
    max-width: 370px;
    margin-right: 10px;
    height: 57px;   
    font-size: 20px;
  }
}