@charset "UTF-8";

.thanks {
  padding: 1em 3em 0 4em;
}

.thanks p {
  font-size: 18px;
}

.thanks a:hover {
  text-decoration: underline;
}

h3 {
  font-size: 28px !important;
  font-weight: 550;
  margin-top: 25px;
  margin-bottom: 15px;
}

footer {
  padding: 50px;
  align-items: center;
  text-align: center;
  background-color: #1eaa39;
  margin-top: 35.9em;
}

footer p {
  font-size: 26px;
}

