<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>sign up</title>
</head>
<body>
  <h2>ログイン画面</h2>
    <form action="" method="post">

     <label for="password_confirm">ユーザーID (メールアドレス)<br></label><input type="email" id="email" name="email">

      <p>
      <label for="password">パスワード</label><br>
      <input type="password" id="password" name="password">
      <p>
      
        <input type="submit" value="ログイン">
        <p><a href="confirm.php">アカウントをお持ちの方</a></p>
    </form>
</body>
</html>
