
<div class="col-3 list-group-a">
  <div class="list-group">
    <p class="list-ctg"><span class="underline-text">カテゴリー</span></p>

    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}admin/admin_signup.php" class="list-info">お客様情報</a>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}admin/admin_order_history.php" class="list-info">注文履歴詳細</a>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}admin/admin_contact.php" class="list-info">お問い合わせ</a>
  </div>
</div>  