<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">
    <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/complete.css" rel="stylesheet" type="text/css" />
    <link href="{{constant('shopping\\Bootstrap::APP_URL')}}css/header_auth.css" rel="stylesheet" type="text/css" />
    <title>新規登録完了</title>
  </head>
  <body>
    {% include 'header_auth.html.twig' %}
  
  <div class="customer">
    <h3>お客様登録完了しました。</h3>
      <p>ご登録ありがとうございました！</p>
     
      <p><a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order/list.php">トップへ戻る</a>
      </p>
    </div>
  </body>
</html>