<header>
  <nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}login.php">DT-Health</a>
      
        <ul class="navbar-nav ms-auto my-2 my-lg-2 d-flex align-items-center">
        {# ms-auto(margin-left: auto;) 要素は親コンテナ内で右寄せ #}
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}regist.php">新規登録</a>
          <li class="nav-item">
            <a class="nav-link" href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}login.php">ログイン</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>