
 <div class="col-3">
  <div class="list-group">
    <p class="list-ctg"><span class="underline-text">カテゴリー</span></p>

    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}profile.php" class="list-info">お客様情報</a>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order.php" class="list-info">注文履歴</a>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}order_detail.php" class="list-info">注文履歴詳細</a>
    <a href="{{constant('shopping\\Bootstrap::ENTRY_URL')}}contact.php" class="list-info">お問い合わせ</a>
  </div>
</div>