
services:
  web:
    build:

      context: .  

      dockerfile: ./php/Dockerfile  

    ports:
      - "${WEB_PORT}:80"  
   
    volumes:      
      - ../:/var/www/html 
       # プロジェクトファイルをコンテナ内のApacheディレクトリにマップ 
      - ../templates:/var/www/html/templates
    
    depends_on:
      - db  

  db:
    image: mysql:5.7

    platform: linux/amd64
 
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
    
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      
      MYSQL_USER: ${MYSQL_USER}

      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
 
    # ホストマシンのディレクトリとコンテナ内のディレクトリをリンク。
    volumes:
      - mysql-data:/var/lib/mysql  
      # データベースの永続化、コンテナを再起動しても消えず保持

      - ./db/my.cnf:/etc/mysql/conf.d/my.cnf
      - ./db/postcodes.csv:/docker-entrypoint-initdb.d/postcodes.csv
      - ./db/DTshopping.sql:/docker-entrypoint-initdb.d/DTshopping.sql 

volumes:
  mysql-data: 
 

    
